<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<%= link_to "Housing", 'http://housing.louisiana.edu', id: "logo" %>
		<div class="container">
			<nav>
				<ul class="nav navbar-nav pull-right">
					<li><%= link_to "Submit Application",submitapp_path%></li>
					<li><%= link_to "Administrators",login_path %></li>
					<li><%= link_to "Help",help_path %></li>
				</ul>
			</nav>
		</div>
		<% flash.each do |message_type, message| %>
  			<div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
	</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
